version: '3.8'

services:

  backend:
    image: leandersteiner/mauwss2023
    restart: unless-stopped
    ports:
      - '8081:8081'
    depends_on:
      - db

  db:
    image: postgres
    restart: unless-stopped
    volumes:
      - ~/data/dbs/mauw:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mauwss2023